{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "import/no-cycle": "off",
    "camelcase": [0, { "ignoreDestructuring": true }]
  }
}
